@{
    // This is the Login page. It only displays when there is no user logged in
    ViewBag.Title = "Login";
    var returnUrl = ViewBag.ReturnUrl as string ?? string.Empty;
    var error = ViewBag.Error as string;
}

@if (!string.IsNullOrWhiteSpace(error))
{
    <p style="color:red">@error</p>
}

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <h1>PiggyBank Login</h1>
    <input type="hidden" name="returnUrl" value="@returnUrl" />
    <p class="mt-4">
        <label>Username</label><br />
        <input type="text" name="username" class="form-control mt-1" required />
    </p>
    <p>
        <label>Password</label><br />
        <input type="password" name="password" class="form-control mt-1" required />
    </p>
    <p class="mt-3">
        <button type="submit" class="btn btn-primary">
            Sign In
        </button><br />
    </p>
}

<p class="mt-3">
    <label>Not Registered? Sign up here!</label><br />
    @Html.ActionLink("Register here", "Register", "Account")
</p>